//bootstrap
@import "node_modules/bootstrap/scss/functions";
@import "modules/variables-bootstrap";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/input-group";
@import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/breadcrumb";
@import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/badge";
@import "node_modules/bootstrap/scss/jumbotron";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/progress";
@import "node_modules/bootstrap/scss/media";
@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/tooltip";
@import "node_modules/bootstrap/scss/popover";
@import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/print";

@import "modules/buttons";
@import "modules/star-rating";
@import "modules/card";

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.2;
}
img {
  max-width: 100%;
  max-height: 100%;
}

.section {
  margin: 77px 0;
  padding: 0 70px;
  width: 100%;
}

.section-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  color: #000000;
}

.icon {
  width: 30px;
  height: 30px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;

  &--favorite {
    background-image: url("../assets/icons/favorite.svg");
  }

  &--favorite-active {
    background-image: url("../assets/icons/favorite-active.svg");
  }
}

.arrow {
  width: 58px;
  height: 58px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;

  &--right {
    background-image: url("../assets/icons/arrow-right.svg");
  }

  &--left {
    background-image: url("../assets/icons/arrow-left.svg");
  }

}

.owl-carousel {
  .owl-stage {
    display: flex;
  }

  .owl-item {
    display: flex;
  }

  .owl-nav {
    .owl-next {
      position: absolute;
      right: -42px;
      top: 50%;
      transform: translateY(-50%);

      &:focus {
        outline: none;
      }
    }

    .owl-prev {
      position: absolute;
      left: -42px;
      top: 50%;
      transform: translateY(-50%);

      &:focus {
        outline: none;
      }
    }
  }
}


@media (max-width: 767px) {
  .section {
    padding: 0 25px;
  }
}
