.products {
  //width: 100%;
  //display: flex;
  //flex-wrap: wrap;
  position: relative;

  .product-card {
    width: 100%;
  }
}
.product-card {
  padding: 0 20px;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__image-link {
    display: block;
    position: relative;
    padding: 32px 8px;
  }

  &__favorite {
    position: absolute;
    bottom: 17px;
    right: 8px;
    z-index: 2;
  }

  &__text-link {
    display: block;
    text-decoration: none;
    line-height: 1.56;
    letter-spacing: normal;

    &:hover {
      text-decoration: none;
    }

    &:hover .product-card__brand-name {
      text-decoration: underline;
    }
  }

  &__rating {
    margin-top: 8px;
    display: flex;
    padding: 0 0 10px 0;

    .rating-stars {
      margin-right: 10px;
      padding: 0 0 8px 0;
    }

    .rating-count {
      padding: 0 0 8px 0;
      color: #999999;
      font-size: 13px;
      line-height: 1.54;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__brand-name {
    font-size: 16px;
    margin-top: 26px;
    line-height: 1.56;
    letter-spacing: 0.5px;
    font-weight: 500;
  }

  &__title {
    font-size: 16px;
    color: initial;
  }

  &__info-buy {
    display: flex;
    flex-direction: column;
  }

  &__buy-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .btn-buy {
      //margin-top: 5px;
      margin-left: 10px;
      min-height: 40px;
    }
  }

  &__price-wrap {

  }

  &__price {
    font-size: 20px;
    line-height: 1.25;
    font-weight: 500;

    &-currency {
      font-size: 13px;
      line-height: 1.54;
    }
  }

  &__available {
    font-size: 13px;
    //margin-top: 5px;
  }
}


@media (max-width: 767px) {
  .products {
    position: relative;
    margin: 0 -10px;
    width: calc(100% + 20px);
  }

  .product-card {
    padding: 0 10px;

    &__buy-wrap {
      align-items: stretch;
      flex-direction: column;

      .btn-buy {
        margin-top: 22px;
        margin-left: 0;
      }
    }
  }
}
